  /*组件全局样式设置 */
  html,body{
    height: 100%;
    overflow-x:hidden;
    overflow-y:hidden;  
  }

  .task{
	position: absolute;
  	left: 200px;
  	top: 41px;
  }
  
  ul{
    list-style: none;
    margin: 0;
    padding:0;
  }

  a{
    color: #4298ba;
  }

  a:hover{
    text-decoration: none;
  }

  p.desc{
    font-size: 12px;
    color: #999;
  }

  .left{
    float: left;
  }

  .right{
    float: right;
  }

  /*select 元素样式*/
  .sp-select{
    width: 100px;
    height:25px;
    line-height: 20px;
    display: inline-block;
  }

  .inline-display{
    display: inline-block;
  }

  .btn-tow{
    display: inline-block;
    padding: 6px 10px;
    margin: 0 10px 0 0;
    border: 1px solid transparent;
    color: #fff;
    background-color: #a6bbb6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }

  .btn-tow-mini {
    padding: 5px 10px;
    color: #000000;
    line-height: normal;
    background: #ffffff;
    border: 1px solid #cccccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  }

  .btn-tow-mini:hover{
    background:#f3f3f3;
    color:#000000;
  }

  .btn-tow:focus{
    -webkit-box-shadow:0 0 6px rgba(121,176,237,0.6);
    -moz-box-shadow:0 0 6px rgba(121,176,237,0.6);
    box-shadow:1px 1px 1px rgba(0,0,0,0.1)
  }

  .btn-tow-x{
    background: transparent;
    font-size: 12px;
    color: #888;
  }

  .btn-tow-x:hover{color:#06a}

  .btn-tow-x:active{color:#27c}

  textarea, input[type="text"], input[type="password"], 
  input[type="datetime"], input[type="datetime-local"], 
  input[type="date"], input[type="month"], input[type="time"], 
  input[type="week"], input[type="number"], input[type="email"], 
  input[type="url"], input[type="search"], input[type="tel"], 
  input[type="color"], .uneditable-input {
      background-color: #fff;
      border: 1px solid #ccc;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      -webkit-transition: border linear .2s,box-shadow linear .2s;
      -moz-transition: border linear .2s,box-shadow linear .2s;
      -o-transition: border linear .2s,box-shadow linear .2s;
      transition: border linear .2s,box-shadow linear .2s;

  }

  /*印章效果*/
  .seal{
    display: inline-block;
    padding: 2px 6px 2px;
    background-color: #fbdbdb;
    color: #d45d51;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size:12px;
    vertical-align: middle;
  }
  .seal:hover{
    color: #D54334;
  }
  /*label效果*/
  label{
    font-weight: normal;
  }

  label i{
    font-weight: bold;
  }


.navbar .notifications{
  background-color: #055D50;
  border: 2px solid #055D50;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.navbar .helper{
  border: 2px solid #44ad9a;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}

  /*消息通知样式 */
.navbar .helper, .navbar .notifications{
  display: inline-block;
  height: 28px;
  width: 28px;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  font-size: 12px;
  }

/* 侧边导航栏样式*/
  .main .sidebar{
    width:200px;
    bottom: 0;
    top: 41px;
    position: absolute;
    background: transparent url(../img/bg.png);  
    border-right: 1px solid #b3b3b3;
    z-index: 2500;
  }

  .main .sidebar h4{
    cursor: pointer;
    padding-left: 10px;
    font-size: 14px;
    height:31px;
    line-height:31px;
    margin:0; 
    margin-bottom:1px;
    background-color:#e7e7e7;
    background-image:-moz-linear-gradient(top, #f7f7f7, #cfcfcf);
    background-image:-ms-linear-gradient(top, #f7f7f7, #cfcfcf);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#cfcfcf));
    background-image:-webkit-linear-gradient(top, #f7f7f7, #cfcfcf);
    background-image:-o-linear-gradient(top, #f7f7f7, #cfcfcf);
    background-image:linear-gradient(top, #f7f7f7, #cfcfcf);
    background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#cfcfcf', GradientType=0);
    -webkit-box-shadow:0 1px 0 0 rgba(255,255,255,0.8) inset,0 1px 0 0 rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 0 0 rgba(255,255,255,0.8) inset,0 1px 0 0 rgba(0,0,0,0.2);
    box-shadow:0 1px 0 0 rgba(255,255,255,0.8) inset,0 1px 0 0 rgba(0,0,0,0.2)
}

.main .sidebar h4:hover{
  background-color:#ecf2f5;
  background-image:-moz-linear-gradient(top, #f4fafd, #e0e5e8);
  background-image:-ms-linear-gradient(top, #f4fafd, #e0e5e8);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f4fafd), to(#e0e5e8));
  background-image:-webkit-linear-gradient(top, #f4fafd, #e0e5e8);
  background-image:-o-linear-gradient(top, #f4fafd, #e0e5e8);
  background-image:linear-gradient(top, #f4fafd, #e0e5e8);
  background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4fafd', endColorstr='#e0e5e8', GradientType=0)
}

.main .sidebar  h4.active,
.main .sidebar  h4.active:hover{
  background-color:#fff;
  background-color:#e5eef3;
  background-image:-moz-linear-gradient(top, #dee7ec, #f0f9fe);
  background-image:-ms-linear-gradient(top, #dee7ec, #f0f9fe);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#dee7ec), to(#f0f9fe));
  background-image:-webkit-linear-gradient(top, #dee7ec, #f0f9fe);
  background-image:-o-linear-gradient(top, #dee7ec, #f0f9fe);
  background-image:linear-gradient(top, #dee7ec, #f0f9fe);
  background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dee7ec', endColorstr='#f0f9fe', GradientType=0)
}

.main .sidebar input{
  width: 80%;
}

.main .sidebar a{
  color: black;
}

.main .sidebar li a{
  color: rgb(107, 100, 100);
}

.main .sidebar .menu ul{
  margin-bottom: 0;
}

.main .sidebar .menu ul li{
  height: 30px;
  padding-left: 18px;
  line-height: 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

.main .sidebar .menu ul li i{
  font-style: normal;
  color: rgb(162, 154, 154);
}

.main .sidebar .menu ul li:hover{
  background-color: #f8f8f8;
}

.main .sidebar .menuAction,
  #task .batch-menu{
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #aaa;
  border-top: 1px solid #ccc;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #f7f7f7, #cfcfcf);
  background-image: -ms-linear-gradient(top, #f7f7f7, #cfcfcf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#cfcfcf));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #cfcfcf);
  background-image: -o-linear-gradient(top, #f7f7f7, #cfcfcf);
  background-image: linear-gradient(top, #f7f7f7, #cfcfcf);
  background-repeat: repeat-x;
}

/* 导航栏最底部*/
.main .sidebar .menuAction ul,
    #task .batch-menu ul{
  margin: 0;
  position: relative;
}

.main .sidebar .menuAction ul li{
  float: left;
  border-right: 1px solid #e9e9e9;
}

.main .sidebar .menuAction ul li a{
  color: rgb(153,153,153);
  font-size: 14px;
  height: 25px;
  width: 25px;
  padding-top: 5px;
  display: block;
  text-align: center;
  border-right: 1px solid #c8c8c8;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #f7f7f7, #cfcfcf);
  background-image: -ms-linear-gradient(top, #f7f7f7, #cfcfcf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#cfcfcf));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #cfcfcf);
  background-image: -o-linear-gradient(top, #f7f7f7, #cfcfcf);
  background-image: linear-gradient(top, #f7f7f7, #cfcfcf);
  background-repeat: repeat-x;
}

.main .sidebar .menuAction ul li a:hover{
  color: black;
  background-color:#e9e9e9;
  background-image:-moz-linear-gradient(top, #fff, #c8c8c8);
  background-image:-ms-linear-gradient(top, #fff, #c8c8c8);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#c8c8c8));
  background-image:-webkit-linear-gradient(top, #fff, #c8c8c8);
  background-image:-o-linear-gradient(top, #fff, #c8c8c8);
  background-image:linear-gradient(top, #fff, #c8c8c8);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c8c8c8', GradientType=0)
}

.main .sidebar .menuAction ul li.sitRight,
#task .batch-menu ul li.sitRight{
  float:right;
  border-left: 1px solid #c8c8c8;
}
